<!-- start: Header -->
<div data-ng-include=" 'header.html' "></div>
<!-- end: Header -->

<!-- start: Content -->
<div id="content">
      
  <div class="col-md-12" style="padding:20px;" ng-controller="DashboardController">
        <div class="col-md-12 padding-0" style="background-color: #FFF;">
                              
          <div class="col-md-12 card-wrap padding-0" style="position: relative;">
              <div class="navbar-default col-md-12" style="border: 5px solid #e7e7e7;padding: 10px 0px;width: 100%;">
                <div class="col-md-2">
                  <label style="font-size: 20px;font-weight: 500;">Search Filter :</label>
                </div>
                <div class="col-md-3">
                  <div class="">
                    <select tabindex="1" id="vendor_zone" name="vendor_zone" class="form-control">
                      <option value="">Select Zone</option>
                      <option ng-repeat="zone in zones" value="{{zone.region}}">{{zone.region}}</option>
                    </select>
                    <span class="bar"></span>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="" >
                    <select tabindex="2" id="vendor_zone" name="vendor_zone" class="form-control">
                      <option value="">Select Round</option>
                      <option ng-repeat="zone in zones" value="{{zone.region}}">{{zone.region}}</option>
                    </select>
                    <span class="bar"></span>
                  </div>
                </div>
                <div class="col-md-4" tabindex="3">
                   <button id="searchfilterpackingslip" ng-click="filterschools()" type="button" class="btn ripple btn-raised btn-info">
                                        <div>
                                          <span>Search</span>
                                        </div>
                                      </button>
                </div>
              </div>
              <div class="clear" style="clear:both;"></div>
              <div class="col-md-12" style="width: 100%;text-align: center;position: relative;margin-top: 30px;min-height:200px;">
                <div class="col-md-3" style="position: absolute;margin: 0px auto;right: 35%;left: 35%;">
                    <div class="panel box-v1">
                      <div class="panel-heading bg-white border-none" style="padding:0px;">
                        <div class="col-md-12 col-sm-6 col-xs-6 text-center padding-0">
                          <h4 class="text-center" style="font-size: 15px;font-weight: bold;">SCHOOL REGISTERED</h4>
                          <img src="asset/img/icon-57.png" style="width: 70px;"></img>

                        </div>
                        <div style="clear:both;"></div>
                      </div>
                      <div class="panel-body text-center padding-0" style="padding: 0;">
                        <h1 style="margin-top: 10px;color:red;">500</h1>
                        <p style="color: #58666e;font-weight: bold;font-size: 13px;">SUMMER 2016</p>
                      </div>
                    </div>
                </div>
                <div class="clear" style="clear:both;"></div>
            </div>

            <div class="clear" style="clear:both;"></div>
              <div class="col-md-12">
                <div class="col-md-5" style="border: 1px solid #ddd;padding: 0;float:left;">
                  <div class="panel-heading-white panel-heading text-center">
                                <h4>SSF Recieved</h4>
                              </div>
                  <div class="col-md-6 responsive-table" style="margin-top: 20px;">
                      
                    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Status</th>
                        <th>No. Of School</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td>Completed</td>
                        <td>60</td>
                      </tr>
                      <tr>
                        <td>Pending</td>
                        <td>30</td>
                      </tr>
                      <tr>
                        <td>Alert</td>
                        <td>10</td>
                      </tr>
                      
                    </tbody>
                  </table>
                  </div>
                  <div class="col-md-6" >

                    <div class="panel" style="margin: 0px;height: 152px;margin-top: 20px;">
                             
                              <div class="panel-body" style="padding-top: 16px;">
                                <center>
                                <canvas class="pie-chart"></canvas>
                                </center>
                              </div>
                        </div>

                  </div>

                </div>
                <div class="col-md-5" style="border: 1px solid #ddd;padding: 0;float:right;">
                  <div class="panel-heading-white panel-heading text-center">
                                <h4>Payment Recieved</h4>
                              </div>
                  <div class="col-md-6 responsive-table" style="margin-top: 20px;">
                      
                    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Status</th>
                        <th>No. Of School</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td>Completed</td>
                        <td>60</td>
                      </tr>
                      <tr>
                        <td>Pending</td>
                        <td>30</td>
                      </tr>
                      <tr>
                        <td>Alert</td>
                        <td>10</td>
                      </tr>
                      
                    </tbody>
                  </table>
                  </div>

                  <div class="col-md-6" >

                    <div class="panel" style="margin: 0px;height: 152px;margin-top: 20px;">
                             
                              <div class="panel-body" style="padding-top: 16px;">
                                <center>
                                <canvas class="pie-chart2"></canvas>
                                </center>
                              </div>
                        </div>

                  </div>

                </div>
                <div class="clear" style="clear:both;"></div>
              </div>
            <div class="clear" style="clear:both;"></div>
            <div class="col-md-12" style="
    margin-top: 30px;
">
                <div class="col-md-5" style="border: 1px solid #ddd;padding: 0;float:left;">
                  <div class="panel-heading-white panel-heading text-center">
                                <h4>Given For Packing</h4>
                              </div>
                  <div class="col-md-6 responsive-table" style="margin-top: 20px;">
                      
                    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Status</th>
                        <th>No. Of School</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td>Completed</td>
                        <td>60</td>
                      </tr>
                      <tr>
                        <td>Pending</td>
                        <td>30</td>
                      </tr>
                      <tr>
                        <td>Alert</td>
                        <td>10</td>
                      </tr>
                      
                    </tbody>
                  </table>
                  </div>
                  <div class="col-md-6" >

                    <div class="panel" style="margin: 0px;height: 152px;margin-top: 20px;">
                             
                              <div class="panel-body" style="padding-top: 16px;">
                                <center>
                                <canvas class="pie-chart3"></canvas>
                                </center>
                              </div>
                        </div>

                  </div>

                </div>
                <div class="col-md-5" style="border: 1px solid #ddd;padding: 0;float:right;">
                  <div class="panel-heading-white panel-heading text-center">
                                <h4>Dispatch Summary</h4>
                              </div>
                  <div class="col-md-6 responsive-table" style="margin-top: 20px;">
                      
                    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Status</th>
                        <th>No. Of School</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td>Completed</td>
                        <td>60</td>
                      </tr>
                      <tr>
                        <td>Pending</td>
                        <td>30</td>
                      </tr>
                      <tr>
                        <td>Alert</td>
                        <td>10</td>
                      </tr>
                      
                    </tbody>
                  </table>
                  </div>

                  <div class="col-md-6" >

                    <div class="panel" style="margin: 0px;height: 152px;margin-top: 20px;">
                             
                              <div class="panel-body" style="padding-top: 16px;">
                                <center>
                                <canvas class="pie-chart4"></canvas>
                                </center>
                              </div>
                        </div>

                  </div>

                </div>
                <div class="clear" style="clear:both;"></div>
              </div>
            <div class="clear" style="clear:both;"></div>
          </div>

          <div class="col-md-12" style="
    margin-top: 30px;
">
<center style="width: 41.8%;margin: 0px auto;">
                <div class="col-md-5" style="border: 1px solid #ddd;padding: 0;float:left;width:100%;">
                  <div class="panel-heading-white panel-heading text-center">
                                <h4>Delivery Status</h4>
                              </div>
                  <div class="col-md-6 responsive-table" style="margin-top: 20px;">
                      
                    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Status</th>
                        <th>No. Of School</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        
                        <td>Completed</td>
                        <td>60</td>
                      </tr>
                      <tr>
                        <td>Pending</td>
                        <td>30</td>
                      </tr>
                      <tr>
                        <td>Alert</td>
                        <td>10</td>
                      </tr>
                      
                    </tbody>
                  </table>
                  </div>
                  <div class="col-md-6" >

                    <div class="panel" style="margin: 0px;height: 152px;margin-top: 20px;">
                             
                              <div class="panel-body" style="padding-top: 16px;">
                                <center>
                                <canvas class="pie-chart5"></canvas>
                                </center>
                              </div>
                        </div>

                  </div>

                </div>
                </center>
                
                <div class="clear" style="clear:both;"></div>
              </div>
            <div class="clear" style="clear:both;"></div>
          </div>
        </div>
                      
  </div>
</div>

</div>
<!-- start: Mobile -->
  <div data-ng-include=" 'mobile_menu.html' "></div>
<!-- end: Mobile -->
