
<div data-ng-include=" 'header.php' "></div>

<!-- start: Content -->
<div id="content">

  <div id="myNav" class="dashboard-table-overlay">
  <a href="javascript:void(0)" class="closebtn" ng-click="closePretestdashboardtable()">&times;</a>
  <div class="overlay-content">
    
  </div>
</div>
 <!-- <img src="asset/img/table.png" style="position: fixed;top: 50%;width: 60px;margin-left: 5px;cursor:pointer;z-index:99" ng-click="openPretestdashboardtable()" />        
<div class="col-md-12" style="padding:20px;width: 100%;text-align: center;position: relative;margin-top: 30px;min-height:200px;"> -->
                    
   <div class="col-md-12" style="margin: 0px auto;width:50%;left:30%;right:30%;margin-top:30px;">
       <a href="dashboard-pppretest" style="float:left;" > 
          <div class="col-md-12">
              <div class="panel box-v1" style="width:202px;">
                <div class="panel-heading bg-white border-none" style="padding:0px;">
                  <div class="col-md-12 text-center" style="padding: 20px 30px 20px 30px;">
                    <h4 class="text-center" style="font-size: 17px;font-weight: bold;">PRE TEST</h4>
                    <img src="asset/img/pre-test.png" style="width: 110px;"></img>
                  </div>
                  <div style="clear:both;"></div>
                </div>
                
              </div>
          </div>
      </a>

      <a href="dashboard-ppposttest" style="float:left;"> 
          <div class="col-md-12" >
              <div class="panel box-v1" style="width:202px;">
                <div class="panel-heading bg-white border-none" style="padding:0px;">
                  <div class="col-md-12 text-center" style="padding: 20px 30px 20px 30px;">
                    <h4 class="text-center" style="font-size: 17px;font-weight: bold;">POST TEST</h4>
                    <img src="asset/img/post-test.png" style="width: 110px;"></img>
                  </div>
                  <div style="clear:both;"></div>
                </div>
                
              </div>
          </div>
      </a>
<!--       <div style="clear:both;"></div> -->
      
</div>

<!-- <div class="clear" style="clear:both;"></div> -->

  </div>

</div>
            
    
     
     
  
          

                    <!-- <div class="col-md-12 padding-0">
                        

                  <div class="col-md-12 card-wrap padding-0">
                    
                    <div style="width: 341px;position: relative;height: auto;margin: 0px auto;margin-top: 150px;">
                    <div class="" style="float: left;margin-right: 20px;">
                      <a href="dashboard-pppretest">
                        <button style="width: 150px;height: 150px;font-size: 17px;" class="btn ripple-infinite btn-raised btn-info">
                                    <div>
                                      <span>PRE TEST</span>
                                    </div>
                                  </button>
                      </a>
                    </div>
                      
                    <div class="" style="float: left;margin-left: 20px;" >
                      <a href="dashboard-ppposttest">
                        <button style="width: 150px;height: 150px;font-size: 17px;" class="btn ripple-infinite btn-raised btn-success">
                                    <div>
                                      <span>POST TEST</span>
                                    </div>
                                  </button>
                      </a>
                    </div>
                    <div style="clear:both;"></div>
                    </div>
                    </div>
                    
                </div> -->
            </div>

        </div>
            <!-- start: Mobile -->
        <!-- <div data-ng-include=" 'mobile_menu.html' "></div> -->
       <!-- end: Mobile -->
    
     
     
  
          