<!-- start: Content -->
<div id="content">
      
<div class="col-md-12" style="padding:20px;">
                    
                     <div class="col-md-12" style="width: 100%;text-align: center;position: relative;margin-top: 30px;min-height:200px;">
                         <a href="dashboard-penpaper" style="position: absolute;margin: 0px auto;right: 35%;left: 35%;"> 
                            <div class="col-md-3" >
                                <div class="panel box-v1">
                                  <div class="panel-heading bg-white border-none" style="padding:0px;">
                                    <div class="col-md-12 text-center padding-0">
                                      <h4 class="text-center" style="font-size: 15px;font-weight: bold;">PEN & PAPER</h4>
                                      <img src="asset/img/icon-57.png" style="width: 70px;"></img>
                                    </div>
                                    <div style="clear:both;"></div>
                                  </div>
                                  
                                </div>
                            </div>
                        </a>
                        <!-- <a href="javascript:void();"> 
                            <div class="col-md-3" style="position: absolute;margin: 0px auto;right: 35%;left: 35%;">
                                <div class="panel box-v1">
                                  <div class="panel-heading bg-white border-none" style="padding:0px;">
                                    <div class="col-md-12 col-sm-6 col-xs-6 text-center padding-0">
                                      <h4 class="text-center" style="font-size: 15px;font-weight: bold;">ASSET <br>DYNAMIC</h4>
                                      <img src="asset/img/icon-57.png" style="width: 70px;"></img>
                                    </div>
                                    <div style="clear:both;"></div>
                                  </div>
                                  
                                </div>
                            </div>
                        </a> -->
                <div class="clear" style="clear:both;"></div>
            </div>

            <div class="clear" style="clear:both;"></div>

  </div>

</div>
            
    
     
     
  
          