<div data-ng-include=" 'header.php' "></div>
<!-- start: Content -->
<div id="content">
      

                    
   <div class="col-md-12" style="margin: 0px auto;margin-top:100px;text-align: center;">
       <a href="dashboard-penpaper" style="display: inline-block;width: 234px;margin: 0px auto;" > 
          <div class="col-md-12">
              <div class="panel box-v1" style="width:202px;">
                <div class="panel-heading bg-white border-none" style="padding:0px;">
                  <div class="col-md-12 text-center" style="padding: 20px 30px 20px 30px;">
                    <h4 class="text-center" style="font-size: 17px;font-weight: bold;">PEN & PAPER</h4>
                    <img src="asset/img/icon-57.png" style="width: 110px;"></img>
                  </div>
                  <div style="clear:both;"></div>
                </div>
                
              </div>
          </div>
      </a>

      <a href="javascript:void(0)" style="display: inline-block;width: 234px;margin: 0px auto;"> 
          <div class="col-md-12" >
              <div class="panel box-v1" style="width:202px;">
                <div class="panel-heading bg-white border-none" style="padding:0px;">
                  <div class="col-md-12 text-center" style="padding: 20px 30px 20px 30px;">
                    <h4 class="text-center" style="font-size: 17px;font-weight: bold;">ASSET DYNAMIC</h4>
                    <img src="asset/img/asset-dynamic-pc.png" style="width: 110px;"></img>
                  </div>
                  <div style="clear:both;"></div>
                </div>
                
              </div>
          </div>
      </a>
<!--       <div style="clear:both;"></div> -->
</div>
<!-- <div class="clear" style="clear:both;"></div> -->
</div>            
    
     
     
  
          