<!-- start: Header -->
<div data-ng-include=" 'header.html' "></div>
<!-- end: Header -->

<!-- start: Content -->
<div id="content">
      
  <div class="col-md-12" style="padding:20px;" ng-controller="DashboardController">
        <div class="col-md-12 padding-0">
                              

          <div class="col-md-12 card-wrap padding-0">
              
            
          </div>
        </div>
                      
  </div>
</div>

</div>
<!-- start: Mobile -->
  <div data-ng-include=" 'mobile_menu.html' "></div>
<!-- end: Mobile -->
