<div class="panel box-shadow-none content-header">
                  <div class="panel-body">
                    <div class="col-md-12">
                        <h3 class="animated fadeInLeft">Data Tables</h3>
                        <p class="animated fadeInDown">
                          Table <span class="fa-angle-right fa"></span> Data Tables
                        </p>
                    </div>
                  </div>
              </div>
              <div class="col-md-12 top-20 padding-0" ng-controller="ListingTableController">
                <div class="col-md-12">
                  <div class="panel">
                    <div class="panel-heading"><h3>Data Tables</h3></div>
                    <div class="panel-body">
                      <div class="responsive-table">
                        <ng-react-grid grid="grid"></ng-react-grid>
                      </div>
                  </div>
                </div>
              </div>  
              </div>
              </div>
          <!-- end: content -->

     <!-- start: Mobile -->
      <div data-ng-include=" 'mobile_menu.html' "></div>
     <!-- end: Mobile -->
   