<div data-ng-include=" 'header.php' "></div>
<!-- start: Content -->
<div id="content">
<div class="panel box-shadow-none content-header padding-1">
                    <div class="">
                      <div class="col-md-12">
                          <h3 class="animated fadeInLeft">Generate Packing Slip</h3>
                          <p class="animated fadeInDown">
                            Home <span class="fa-angle-right fa"></span> Generate Packing Slip
                          </p>
                      </div>
                    </div>
                </div>
                <div class="col-md-12 top-20 padding-0" >
                  <div class="col-md-12">
                    <div class="panel">
                      <!-- <div class="panel-heading"><h3>Data Tables</h3></div> -->
                      <div class="panel-body">
                        <div class="col-md-12 form-group padding-0">
                          <p style="font-size: 17px;font-weight: 500;">Schools whose final student breakup and 90% and above payment is received or exception approved are listed below.</p>
                          <select id="roundfilter" style="width:200px;margin:15px 30px 15px 0px;height:30px;">
                           
                              <option value="">Round</option>
                              <option ng-selected="{{round.test_edition == roundSelected}}" ng-repeat="round in rounds" value="{{round.test_edition}}">{{round.description}}-{{round.test_edition}}</option>
                              
                          </select>

                          <select id="countryfilter"  style="width:200px;margin:15px 30px 15px 0px;height:30px;">

                              <option value="">Country</option>
                              <option ng-repeat="countryname in country" value="{{countryname.country}}">{{countryname.country}}</option>
                           
                          </select>

                          <select id="zonefilter"  style="width:200px;margin:15px 30px 15px 0px;height:30px;">
                           
                              <option value="">Zone</option>
                              <option ng-repeat="zone in zones" value="{{zone.region}}">{{zone.region}}</option>
                           
                          </select>
                          

                          <button style="width:200px;margin:15px 30px 15px 0px;height:30px;" id="searchfilterpackingslip" ng-click="filterschools()" type="button" class="btn ripple btn-raised btn-info">
                                        <div>
                                          <span>Search</span>
                                        </div>
                          </button>
                          

                        </div>
                        
                        <div class="responsive-table">
                          
                          <table id="school_packingslip_list" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"  class="table table-striped table-bordered" width="100%" cellspacing="0" >
                    
                          </table>
                          <select id="vendorSelected" style="width:200px;margin:15px 30px 15px 0px;height:30px;">
                           
                              <option value="">Select Vendor</option>
                              <option ng-repeat="vendor in vendors" value="{{vendor.vendor_id}}">{{vendor.vendor_name}}</option>
                              
                          </select>
                          <button style="width:200px;margin:15px 30px 15px 0px;height:30px;" id="generatepackingslip" data-toggle="modal" data-target="#myModal" type="button" class="btn ripple btn-raised btn-info">
                                        <div>
                                          <span>Generate Packing Slip</span>
                                        </div>
                                      </button>
                          
                        </div>
                        <!--  <div ng-repeat="column in dtColumns">{{column.title}} visible: <input type="checkbox" ng-model="column.visible" /></div> -->
           <!-- <tr ng-repeat="user in users" user="user" columns="columns"> -->
           <div class="col-md-12" style="padding: 0;margin-top: 20px;">
                            <div class="col-md-9 padding-0">
                              <div id="add_packingslip_message_box" class="hide alert alert-success alert-dismissible fade in" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                              
                            </div>
                            </div>
                            
                              
                          </div>
                    </div>
                  </div>
                </div>  
                </div>
                </div>
            <!-- end: content -->
            <div class="modal" role="dialog" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Please Confirm</h4>
                      </div>
                      <div class="modal-body">
                        <p>Are You Sure You Want To Generate Packing Slip Of Selected School And Send To Vendor?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" ng-click="generate_packing_slip()" data-dismiss="modal" class="btn btn-primary">Confirm & Send</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

       <!-- start: Mobile -->
        <!-- <div data-ng-include=" 'mobile_menu.html' "></div> -->
       <!-- end: Mobile -->
     