<div data-ng-include=" 'header.php' "></div>
<!-- start: Content -->
<div id="content">
<div class="panel box-shadow-none content-header padding-1">
                    <div class="">
                      <div class="col-md-12">
                          <h3 class="animated fadeInLeft">Pre Test Escalation Log List</h3>
                          <p class="animated fadeInDown">
                            Home <span class="fa-angle-right fa"></span> Pre Test <span class="fa-angle-right fa"></span> Pre Test Escalation Log List
                          </p>
                      </div>
                    </div>
                </div>
                <div class="col-md-12 top-20 padding-0" >
                  <div class="col-md-12">
                    <div class="panel">
                      <!-- <div class="panel-heading"><h3>Data Tables</h3></div> -->
                      <div class="panel-body">
                        <!-- <div class="col-md-12 form-group padding-0">
                          <p style="font-size: 17px;font-weight: 500;">Schools packed, dispatched and delivery status is listed below.</p>
                          <select id="qbroundfilter" style="width:200px;margin:15px 30px 15px 0px;height:30px;">
                           
                              <option ng-selected="{{round.test_edition == roundSelected}}" ng-repeat="round in rounds" value="{{round.test_edition}}">{{round.description}}-{{round.test_edition}}</option>
                              
                          </select>

                          <select id="qbzonefilter"  style="width:200px;margin:15px 30px 15px 0px;height:30px;">
                           
                              <option value="">Zone</option>
                              <option ng-repeat="zone in zones" value="{{zone.region}}">{{zone.region}}</option>
                           
                            
                          </select>

                          <select id="packinglotnofilter" name="packinglotnofilter" style="width:200px;margin:15px 30px 15px 0px;height:30px;">
                           
                              <option value="">Lot No.</option>
                              <option ng-repeat="lotno in lotnos" value="{{lotno.lot_no}}">{{lotno.lot_no}}</option>
                              
                          </select>

                          <button style="width:200px;margin:15px 30px 15px 0px;height:30px;" id="searchqbreports" ng-click="filterqbreports()" type="button" class="btn ripple btn-raised btn-info">
                              <div>
                                <span>Search</span>
                              </div>
                          </button>
                          

                        </div> -->
                        
                        <div class="responsive-table">
                          
                          <table id="pre_test_escalation_log_tble" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance"  class="table table-striped table-bordered" width="100%" cellspacing="0" >
                    
                          </table>
                          
                          
                        </div>
           
                    </div>
                  </div>
                </div>  
                </div>
                </div>
            <!-- end: content -->
           

       <!-- start: Mobile -->
        <!-- <div data-ng-include=" 'mobile_menu.html' "></div> -->
       <!-- end: Mobile -->
     