<div class="panel box-shadow-none content-header">
                  <div class="panel-body">
                    <div class="col-md-12">
                        <h3 class="animated fadeInLeft">Upload CSV Module</h3>
                        <p class="animated fadeInDown">
                          Inventory System <span class="fa-angle-right fa"></span> Upload CSV Module
                        </p>
                    </div>
                  </div>
                </div>
                <div class="form-element">
                <div class="col-md-12 padding-0">
                  
                <div class="col-md-12">
                  <div class="col-md-12 panel">
                    <div class="col-md-12 panel-heading">
                      <h4>Upload CSV Module</h4>
                    </div>
                    <div class="col-md-12 panel-body" style="padding-bottom:30px;">
                      <div class="col-md-12">
                        <form class="cmxform" id="uploadcsvform" enctype="multipart/form-data" method="post" action="" autocomplete="off">

                          <div class="col-md-6">
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input type="file" class="form-text" id="user_csvfile" name="user_csvfile" >
                              <span class="bar"></span>
                              <label>Upload CSV File</label>
                            </div>

                        </div>
                          

                          <div class="col-md-12" style="padding: 0;">
                            <div class="col-md-3">
                              <button type="submit" class="btn ripple btn-raised btn-info">
                                      <div>
                                        <span>Submit</span>
                                      </div>
                                    </button>
                            </div>

                              
                          </div>
                          <div class="col-md-12" style="padding: 0;margin-top: 45px;">
                            <div class="col-md-9">
                              <div id="upload_csv_message_box" class="hide alert alert-success alert-dismissible fade in" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                              
                            </div>
                            </div>
                            
                              
                          </div>
                      </form>
                      <div class="responsive-table" id="uploadedcsvdata">
                        
                    </div>
                  </div>
                </div>
              </div>
              
              </div>
              </div>
            </div>
          <!-- end: content -->
         

     <!-- start: Mobile -->
      <div data-ng-include=" 'mobile_menu.html' "></div>
     <!-- end: Mobile -->


<!-- end: Javascript -->