<div class="panel box-shadow-none content-header">
                  <div class="panel-body">
                    <div class="col-md-12">
                        <h3 class="animated fadeInLeft">Student Target</h3>
                        <p class="animated fadeInDown">
                          Inventory System <span class="fa-angle-right fa"></span> Add Student Target
                        </p>
                    </div>
                  </div>
                </div>
                <div class="form-element">
                  <div class="col-md-12 padding-0">
                    <div class="col-md-12">
                      <div class="panel form-element-padding">
                        <div class="panel-heading">
                         <h4>Add Student Target</h4>
                        </div>
                         <div class="panel-body" style="padding-bottom:30px;">
                          
                            <!-- <div class="form-group"><label class="col-sm-2 control-label text-right">Select Lot</label>
                              <div class="col-sm-10">
                                <div class="col-sm-12 padding-0">
                                  <select class="form-control">
                                    <option>option one</option>
                                    <option>option two</option>
                                    <option>option three</option>
                                    <option>option four</option>
                                  </select>
                                </div>
                              </div>
                            </div> -->
                          <form method="post" action="">
                            <div class="form-group"><label class="col-sm-2 control-label text-right">Number Of Schools</label>
                              <div class="col-sm-10"><input type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label text-right">Number Of Students</label>
                              <div class="col-sm-10"><input type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label text-right">Select Round</label>
                              <div class="col-sm-10">
                                <div class="col-sm-12 padding-0">
                                  <select class="form-control">
                                    <option>Select Round</option>
                                    <?php foreach ($round_list as $r_key){ ?>
                                    <option><?php echo $r_key->description;?></option>
                                    <?php } ?>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label text-right">Buffer Percentage(%)</label>
                              <div class="col-sm-10"><input type="text" class="form-control"></div>
                            </div>
                            <div class="form-group"><label class="col-sm-2 control-label text-right"></label>
                              <div class="col-sm-4">
                                  <button type="submit" class="btn ripple btn-raised btn-info">
                                      <div>
                                        <span>Submit</span>
                                      </div>
                                    </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    
                  </div>

              </div>
            </div>
          <!-- end: content -->
         

     <!-- start: Mobile -->
      <?php $this->view('mobile_menu');?>
     <!-- end: Mobile -->

<!-- start: Javascript -->
<script src="<?php echo base_url();?>asset/js/jquery.min.js"></script>
<script src="<?php echo base_url();?>asset/js/jquery.ui.min.js"></script>
<script src="<?php echo base_url();?>asset/js/bootstrap.min.js"></script>


<!-- plugins -->
<script src="<?php echo base_url();?>asset/js/plugins/moment.min.js"></script>
<script src="<?php echo base_url();?>asset/js/plugins/jquery.knob.js"></script>
<script src="<?php echo base_url();?>asset/js/plugins/ion.rangeSlider.min.js"></script>
<script src="<?php echo base_url();?>asset/js/plugins/bootstrap-material-datetimepicker.js"></script>
<script src="<?php echo base_url();?>asset/js/plugins/jquery.nicescroll.js"></script>
<script src="<?php echo base_url();?>asset/js/plugins/jquery.mask.min.js"></script>
<script src="<?php echo base_url();?>asset/js/plugins/select2.full.min.js"></script>
<script src="<?php echo base_url();?>asset/js/plugins/jquery.validate.min.js"></script>


<!-- custom -->
<script src="<?php echo base_url();?>asset/js/main.js"></script>
<!-- end: Javascript -->