<div class="panel box-shadow-none content-header">
                  <div class="panel-body">
                    <div class="col-md-12">
                        <h3 class="animated fadeInLeft">Student Target</h3>
                        <p class="animated fadeInDown">
                          Inventory System <span class="fa-angle-right fa"></span> Add Student Target
                        </p>
                    </div>
                  </div>
                </div>
                <div class="form-element">
                <div class="col-md-12 padding-0">
                  
                <div class="col-md-12">
                  <div class="col-md-12 panel">
                    <div class="col-md-12 panel-heading">
                      <h4>Form Validation</h4>
                    </div>
                    <div class="col-md-12 panel-body" style="padding-bottom:30px;">
                      <div class="col-md-12">
                        <form class="cmxform" id="signupForm" method="get" action="">
                          <div class="col-md-6">
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input type="text" class="form-text" id="validate_firstname" name="validate_firstname" required>
                              <span class="bar"></span>
                              <label>Firstname</label>
                            </div>

                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input type="text" class="form-text" id="validate_lastname" name="validate_lastname" required>
                              <span class="bar"></span>
                              <label>Lastname</label>
                            </div>

                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input type="text" class="form-text" id="validate_username" name="validate_username" required>
                              <span class="bar"></span>
                              <label>Username</label>
                            </div>
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                        <select class="form-control">
                                    <option>Select Box</option>
                                    <option>option two</option>
                                    <option>option three</option>
                                    <option>option four</option>
                                  </select>
                                  

                        </div>
                        <div class="form-group form-animate-checkbox" style="margin-top:40px !important;">
                              <input type="checkbox" class="checkbox">
                              <label> Checkbox</label>
                        </div>
                        <div class="form-group form-animate-radio" style="margin-top:40px !important;">
                          <label class="radio">
                            <input id="radio1" type="radio" name="radios"/>
                            <span class="outer">
                              <span class="inner"></span></span> RadioBox
                            </label>
                          </div>
                        </div>
                          <div class="col-md-6">
                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input type="password" class="form-text" id="validate_password" name="validate_password" required>
                              <span class="bar"></span>
                              <label>Password</label>
                            </div>

                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input type="password" class="form-text" id="validate_confirm_password" name="validate_confirm_password" required>
                              <span class="bar"></span>
                              <label>Confirm Password</label>
                            </div>

                            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                              <input type="text" class="form-text" id="validate_email" name="validate_email" required>
                              <span class="bar"></span>
                              <label>Email</label>
                            </div>
                          </div>

                          <div class="col-md-12" style="padding: 0;">
                            <div class="col-md-3">
                              <button type="submit" class="btn ripple btn-raised btn-info">
                                      <div>
                                        <span>Submit</span>
                                      </div>
                                    </button>
                            </div>
                              
                          </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
              
              </div>
              </div>
            </div>
          <!-- end: content -->
         

     <!-- start: Mobile -->
      <?php $this->view('mobile_menu');?>
     <!-- end: Mobile -->


<!-- end: Javascript -->